.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 1000;
  font-size: 18px;
}

.body-content {
  margin-top: 60px; /* Space for the fixed header */
  background-color: #f0f0f0;
  overflow-y: auto;
  flex-grow: 1;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 18px;
}


/* For smaller screens like mobile phones */
@media (max-width: 768px) {
  .header {
    font-size: 16px;
  }
  .body-content {
    font-size: 14px;
  }
  .footer {
    font-size: 16px;
  }
}

/* For larger screens like desktops */
@media (min-width: 1024px) {
  .header {
    font-size: 20px;
  }
  .body-content {
    font-size: 18px;
  }
  .footer {
    font-size: 20px;
  }
}
